body{
background-image: url("https://images.unsplash.com/photo-1484480974693-6ca0a78fb36b?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dG8lMjBkbyUyMGxpc3R8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
background-repeat: no-repeat;
background-size: cover;
color: blue;
}
.container{
  /* border: 2px solid black; */
position: absolute;
width: 350px;
padding: 30px;
height: 90vh;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
}
.head{
text-align: center;
color: Blue;
}
.add-items label{
display: none;
color: red;
}
.add-items h2{
color: green;
font-size: 30px;
}
.list h2{
  color: green;
  font-size: 30px;
}
.list-items li{
font-family: cambria;
margin: 5px;
color: grey;
list-style-type: decimal;
font-weight: bolder;
font-size: 20px;
}
